body{
    background-color: #02051d;
    color: whitesmoke;
    margin: 0px;

}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    background-color: #030a45;
    
}
nav div{
    width: 40%;
}
.profile{
    height: 80px;
    width: 80px;
    background-image:url("prof.jpeg");
    background-size:cover ;
    border-radius: 50%;
}
.start{
    display: flex;
    /* justify-content:space-around; */
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
}
.navbar{
    font-size:  1.5rem;
    margin-left: 20px;
}
.first{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0;
    height: 400px;

}
.first >div{
    width: 33%;
}
.left-section{
    font-size: 3rem;

}
.right-section{
    background-size:cover ;
}
.right-section img{
    width: 100%;
}
.purple{
    color: rgb(145, 66, 220);
}
a {
    text-decoration: none;
    color: whitesmoke;
}
a:hover{
    color: lavender;
    font-size: 1.02rem;
}
#element{
    color: rgb(145, 66, 220);
}
.second{
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}
main hr{
    border: 0;
    background: rgb(178, 121, 233);
    height: 1.4px;
    margin: 40px 80px;
}

.second h1{
    font-size: 1.9rem;
}

.text-gray{
    color: gray;
}
.box{
    background-color: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
    justify-content: space-around;
}
.vertical{
    height: 90px;
    width: 1px;
    background-color: white;

}
.description{
    /* background-color: white; */
    height: 25px;
    /* color: blueviolet; */
    font-size: 1.5rem;
    margin-top: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.exp-img {
    /* background-color: coral; */
    height: 250px;
    /* margin-top: 90px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.exp-img div{
    /* background: white; */
    height: 90%;
    width: 24%;
    background-size: cover;
}
.one{
    background-image: url("portfolio.jpeg");
    background-size: cover;
}
.two{
    background-image: url("amzon.jpg");
    background-size: cover;
}
.three{
    background-image: url("calc.jpeg");
    background-size: cover;
}
.four{
    background-image: url("travel.jpeg");
    background-size: cover;
}

.foot{
    background-color:  #030a45;
    font-size: 1.5rem;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}